# create a new directory and enter it
function mkd() {
    mkdir -p "$@" && cd "$_";
}

# determine size of a file or total size of a directory
function fs() {
    if du -b /dev/null > /dev/null 2>&1; then
        local arg=-sbh;
    else
        local arg=-sh;
    fi
    if [[ -n "$@" ]]; then
        du $arg -- "$@";
    else
        du $arg .[^.]* *;
    fi;
}

# get image date taken
function image_date() {
    identify -format %[EXIF:DateTime] $@
}

function localkube_env() {
  local MKBIN=$(which minikube)
  local MYSHELL=$(basename ${SHELL})
  eval "$(${MKBIN} docker-env --shell ${MYSHELL} $@)" && echo "docker CLI configured to use engine on minikube instance"
  eval "$(${MKBIN} completion ${MYSHELL})" && echo "minikube shell completions loaded"
  eval "$(kubectl completion ${MYSHELL})" && echo "kubectl shell completions loaded"
  export MINIKUBE_IP="$(${MKBIN} ip $1)"
  export MINIKUBE_SUBNET=$(echo ${MINIKUBE_IP} | awk -F '.' '{ printf("%s.%s.%s.0", $1, $2, $3) }')
  export MINIKUBE_GATEWAY=$(echo ${MINIKUBE_IP} | awk -F '.' '{ printf("%s.%s.%s.1", $1, $2, $3) }')
}
