# -*- sh -*-

[user]
    name = Shahbaz Tariq
    email = shahbaz@a1techdeals.com
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBNpT8V49+NjrOkQGeAJLE6uP9Z1JXZ5AFCE6LFQcIeV

[gpg]
    format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
    gpgsign = true

[github]
    user = shahbaztariq

[core]
    excludesfile = ~/.globalignore
    autocrlf = false
    editor = nano

[alias]
    diff = diff --ignore-space-at-eol -b -w --ignore-blank-lines

    # show changed files for a commit
    cf = show --pretty="format:" --name-only

    cleanup = "!git remote prune origin && git gc && git clean -df && git stash clear"

    # Useful aliases:
    ci = commit
    st = status -s
    br = branch
    cl = clone
    co = checkout
    
    # Ignore/unignore changes to files (like a local .gitignore)
    # http://durdn.com/blog/2012/11/22/must-have-git-aliases-advanced-examples/
    assume = update-index --assume-unchanged
    unassume = update-index --no-assume-unchanged

    assumed = "!git ls-files -v | grep ^h | cut -c 3-"
    assumeall = "!git status -s | awk {'print $2'} | xargs git assume"
    unassumeall = "!git assumed | xargs git update-index --no-assume-unchanged"

[color]
    ui = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[help]
    autocorrect = 1

[status]
    submodule = 1

[push]
    default = current

[pack]
    threads = 0

[credential]
    helper = cache

[diff]
    tool = meld

[merge]
    tool = meld

[difftool "araxis"]
    path = /opt/homebrew/bin/araxiscompare

[mergetool "araxis"]
    path = /opt/homebrew/bin/araxiscompare

[difftool "meld"]
    prompt = false
    trustExitCode = true
    cmd = open -W -a Meld --args \"$LOCAL\" \"$PWD/$REMOTE\"

[mergetool "meld"]
    prompt = false
    trustExitCode = true
    cmd = open -W -a Meld --args --auto-merge \"$PWD/$LOCAL\" \"$PWD/$BASE\" \"$PWD/$REMOTE\" --output=\"$PWD/$MERGED\"

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[url "git@github.com:"]
    insteadOf = https://github.com/

[init]
	defaultBranch = main


